[Desktop Entry]
Name=Win2Go
Exec=win2go
Type=Application
Icon=de.z_ray.Win2Go
Categories=Utility;
Keywords=iso;image;usb;windows
Comment=A graphical interface to create portable Windows installs